.App {
  text-align: center;
}

.header {
  overflow: visible;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1
}

.headerDrop{
  overflow: auto;
}

.seperate{
  margin: 5px
}

a{
  color: white
}
a:hover{
  color: white;
}

div.pokemon-card:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.pokemon-card {
  border-radius: 10px
}
.pokemon-card:hover{
  z-index: 1
}
