.App {
  text-align: center;
}

.header {
  overflow: visible;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1
}

.headerDrop{
  overflow: auto;
}

.seperate{
  margin: 5px
}

a{
  color: white
}
a:hover{
  color: white;
}

.pokemon-card {
  border-radius: 10px
}
